.Rproj.user
.Rhistory
.RData
.Ruserdata

data/exampleAudio.RData
PAMGuide-map.drawio
example-input-directory/
example-output-directory/
example-results-directory/
example-audio-directory/
example-segments-audio/
example-segments-results/
example-classifier/
data-raw/
fixing-nvspl-ai-columns.R

